.line{
    width: 100%;
    position: absolute;
    right: 0;
    height: 1px;
    background: rgb(182, 180, 180);
}
.lines{
    width: 89%;
    position: absolute;
    height: 1px;
    background: rgb(182, 180, 180);
}

/* hero section */
.hero {
    background: linear-gradient(to bottom, #02282B, rgba(2, 40, 43, 0.889)), url('/images/bg-1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* Keyframes for up and down animation */
@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes upsdowns {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
@keyframes updowns {
  0% {
    transform: translateY(0) translateX(0);
  }
  20% {
    transform: translateY(10vh) translateX(5vh); /* Move down and to the right */
  }
  40% {
    transform: translateY(30vh) translateX(10vh); /* Move further down and to the left */
  }
  60% {
    transform: translateY(40vh) translateX(15vh); /* Move down further */
  }
  80% {
    transform: translateY(40vh) translateX(20vh); /* Move back up and to the right */
  }
  100% {
    transform: translateY(0) translateX(0); /* Return to original position */
  }
}

@keyframes leftright {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

/* Keyframes for pulsing play button */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Applying the up-down animation to the image */
.animate-updown {
  animation: updown 2s ease-in-out infinite;
}

/* Applying the pulse animation to the play button */
.animate-pulse {
  animation: pulse 1.5s infinite ease-in-out;
}

.arrows{
    animation: leftright 2s ease-in-out infinite;
}
.leaf{
  animation: leftright 2s ease-in-out infinite;
  transform: rotate(360deg);
}
.leaf-one{
  animation: updowns 20s ease-in-out infinite;
  transform: rotate(360deg);
}
.branch-one{
  animation: upsdowns 3s ease-in-out infinite;
}
.branch{
  animation: upsdowns 4s ease-in-out infinite;
}
.team{
  background: linear-gradient(to right, #212121b8, #151515b8) ,url("/public/images/bg-3.jpg") no-repeat;
  background-size: cover;
}